@page
@inject ILocalizationService g
@inject IUserData userData
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{ 
    Layout = null;

    var productionTypeOptions = Enum.GetValues(typeof(ProductionType)).Cast<ProductionType>()
        .Where(s => !s.Equals(ProductionType.All))
        .Select(s => new
    {
        Name = g[s.GetText()],
        Value = (int)s
    });

}
    <viewcard>

        <viewrow>
            <viewcolumn>

                <div>@g["Change Production for Order N "]<span name="OrderNumberTitle"></span></div>

            </viewcolumn>
        </viewrow>

        <viewrow>
            <viewcolumn>
                <div class="input-group input-group-sm">
                    <select model name="ProductionType" label="@g["Production Type"]" class="form-control" action="change:ProductionTypeWasChanged" options="@(OptionList.FromEnumerable(productionTypeOptions, "Value", "Name"))"></select>
                </div>
                
            </viewcolumn>
        </viewrow>

        <viewfooter>

            <viewrow>

                <viewcolumn>
                    <inlineform class="form-inline">

                        <a href="#" class="btn btn-secondary btn-sm" action="Cancel">@g["Cancel"]</a>

                    </inlineform>
                </viewcolumn>

                <viewcolumn>

                    <inlineform class="form-inline pull-right">

                        <div class="form-check mt-1 mr-sm-3">
                            <input model name="Confirm" class="form-check-input" type="checkbox" id="__inlineFormCheck" no-transform action="click:ClickConfirm">
                            <label class="form-check-label" for="__inlineFormCheck">
                                @g["Confirm action?"]
                            </label>
                        </div>

                        <a href="#" name="SubmitButton" class="btn btn-sm btn-primary" action="Save">@g["Change production type"]</a>
                    </inlineform>
                </viewcolumn>

            </viewrow>
        </viewfooter>

    </viewcard>