@page
@inject ILocalizationService g
@inject IUserData userData

@{
    Layout = null;
}

<style>
    .novisible {
        display: none;  
    }
</style>
<viewform>

    <nav class="navbar navbar-light bg-light mx-0 p-1 mt-2 border-top border-bottom" style="background-color:#bee5eb !important;">
        <span class="btn btn-sm" style="cursor: auto;">
            Order N° :  <span name="OrderNumber"></span>
        </span>
    </nav>

    <viewrow>
        <viewcolumn>
            <!-- Section Made In and CIF -->
            <viewrow style="display:none">
                <viewcolumn>

                
            </viewrow>
            <viewrow style="visibility:hidden">

            </viewrow>
            <!-- End Section Made In and CIF-->
            <viewrow>
                <viewcolumn>
                    
                    <div class="form-group packfindercontainer d-none">
                        <label style="margin-right:10px">@g["Packs of handtags:"]</label>
                        <div name="PackFinderContainer" class="input-group input-group-sm">

                            <select name="PackFinder" data-live-search="true" class="form-control custom-select-sm  " no-transform>
                            </select>

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" action="ExpandPack"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="margin-right:10px">@g["Care Label and Sticker:"]</label>
                        <div name="ArticleFinderContainer" class="input-group input-group-sm">
                            <select name="ArticleFinder" data-live-search="true" class="form-control custom-select-sm " no-transform>
                            </select>

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" action="AddArticle"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </viewcolumn>
            </viewrow>
            <viewrow>
                <viewcolumn>
                    <div class="article-grid-container mt-2">
                        <div class="toolbar-body" style="width:100%; margin-top:15px;">
                            <span class="toolbar-grip"></span><a href="#" title="Remove" action="RemoveArticle"><span class="fa fa-trash"></span></a>
                        </div>
                        <div component="OrderGrid" name="Articles">

                            <template>

                                <column width="120" field="ArticleName">@g["Article"]</column>
                                <column width="120" field="ArticleCode">@g["Article Code"]</column>
                                <column width="120" field="ArticleType">@g["Article Type"]</column>
                                <column width="120" field="RFID">@g["RFID"]</column>
                                <column width="120" field="PackCode">@g["PackCode"]</column>

                            </template>

                        </div>
                    </div>

                </viewcolumn>
            </viewrow>
           
            <viewrow>
                <viewcolumn>
                    <hr />
                    <div id="description-and-pieces" class="novisible">
                        <div class="separator mt-4"></div>
                        <input model name="Description" type="text"  label="@g["Tag Description"]" />
                        <select model name="NumberPieces" data-live-search="true" label="@g["Number of pieces that the garment contains"]">
                            <option value="1">@g["1 Pieza"]</option>
                            <option value="2">@g["2 Piezas"]</option>
                            <option value="3">@g["3 Piezas"]</option>
                            <option value="4">@g["4 Piezas"]</option>
                            <option value="5">@g["5 Piezas"]</option>
                        </select>
                    </div>
                </viewcolumn>
            </viewrow>
            <viewrow>
                <viewcolumn>
                    <div id="chinesecolor">
                        <div class="separator mt-4"></div>
                        <select model name="ChineseColor" data-live-search="true" label="@g["Chinese Color"]">
                    </div>
                </viewcolumn>
            </viewrow>
        </viewcolumn>

        <viewcolumn>

            <!-- carrusel of images  -->
            <div name="article-carousel" id="articlesSelected" class="carousel slide" data-ride="carousel" style=" width:60%; margin: 5px auto;">
                <ol name="CarrouselIndicator" class="carousel-indicators">
                </ol>

                <div name="CarrouselContent" class="carousel-inner">
                </div>

                <a class="carousel-control-prev" href="#articlesSelected" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">>@g["Previous"]</span>
                </a>
                <a class="carousel-control-next" href="#articlesSelected" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">@g["Next"]</span>
                </a>

            </div>

        </viewcolumn>

    </viewrow>

</viewform>
