@page
@inject ILocalizationService g
@inject IUserData userData

@{
	Layout = null;
}
<viewform>
	<viewrow>

		<viewcolumn>
			<div>
				<div class="row">
					<div class="col-md-6">
						<div class="table-responsive" name="UnitsContainer">
							<table class="table table-sm table-striped table-hover">
								<thead>
									<tr>
										<th scope="col">@g["Size"]</th>
										<th scope="col">@g["Color"]</th>
										<th scope="col">@g["Units"]</th>
									</tr>
								</thead>

								<tbody>
								</tbody>
							</table>
						</div>

					</div>
					
						
					
					<div class="col-md-6 border">
	
						<div style="color:red;">
							The tip of the shoe must always face the left
						</div>
			
						<viewrow>
							<viewcolumn class="mt-3">
								<h4>@g["Select Order Image"]   </h4>
							</viewcolumn>
							<viewcolumn class="mt-3 text-right">
								<button action="ResetImage" class="btn btn-primary">@g["Reset Image"]</button>
							</viewcolumn>
						</viewrow>

						<viewrow>

							<viewcolumn>
								<div name="Images" component="FormView" controller="/Common/Components/ImageListView.js"></div>
								<input model name="IMAGENNAME" validation="required" type="hidden" />
							</viewcolumn>

						</viewrow>


					</div>
				</div>
			</div>
		</viewcolumn>
	</viewrow>
	<viewrow>
		<viewcolumn>
			<div class="separator mt-3"></div>
			<select model name="SECTION_SYMBOL" label="@g["Section Symbol"]" validation="required" class="form-control form-control-sm">
				<option value="WOMAN">@g["WOMAN"]</option>
				<option value="BASIC">@g["BASIC"]</option>
				<option value="TRF">@g["TRAFALUC"]</option>
				<option value="MAN">@g["MAN"]</option>
				<option value="BOY">@g["KIDS BOY"]</option>
				<option value="GIRL">@g["KIDS GIRL"]</option>
				<option value="BABY GIRL">@g["BABY GIRL"]</option>
				<option value="BABY BOY">@g["BABY BOY"]</option>
				<option value="MINI">@g["MINI"]</option>
				<option value="VESTIR">@g["VESTIR"]</option>
				<option value="SPORT">@g["SPORT"]</option>
			</select>
		</viewcolumn>
	</viewrow>



	<viewrow>
		<viewcolumn>
			<div class="form-group">
				<label style="margin-right:10px">Article Text:</label>
				<div name="ArticleFinderContainer" class="input-group input-group-sm">

					<select name="ArticleFinder" data-live-search="true" class="form-control custom-select-sm " no-transform>
					</select>

					<div class="input-group-append">
						<button class="btn btn-primary" type="button" action="AddArticle"><span class="fa fa-plus"></span></button>
					</div>
				</div>
			</div>

			<div class="article-grid-container mt-2">
				<div class="toolbar-body" style="width:100%; margin-top:15px;">
					<span class="toolbar-grip"></span><a href="#" title="Remove" action="RemoveArticle"><span class="fa fa-trash"></span></a>
				</div>
				<div component="OrderGrid" name="Articles">

					<template>

						<column width="120" field="ArticleName">@g["Article"]</column>
						<column width="120" field="ArticleCode">@g["Article Code"]</column>
						<column width="120" field="ArticleType">@g["Article Type"]</column>
						<column width="120" field="RFID">@g["RFID"]</column>

					</template>

				</div>
			</div>
		</viewcolumn>

		<viewcolumn>

			<div name="article-carousel" id="articlesSelected" class="carousel slide" data-ride="carousel" style=" width:60%; margin: 5px auto;">
				<ol name="CarrouselIndicator" class="carousel-indicators">
				</ol>

				<div name="CarrouselContent" class="carousel-inner">
				</div>

				<a class="carousel-control-prev" href="#articlesSelected" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">>@g["Previous"]</span>
				</a>
				<a class="carousel-control-next" href="#articlesSelected" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">@g["Next"]</span>
				</a>

			</div>

		</viewcolumn>

	</viewrow>

</viewform>
