@page
@inject ILocalizationService g
@inject IUserData userData
@{
    Layout = null;


}
//# sourceURL=https://Pages/Validation/Tempe/Accessories/LabellingCompoSimpleWizard.js
///<script>

/**
 * Scalpers Version
 * @@param orderSelection
 * @@param wizardStep
 * @@param allSteps
 */
/*
order selection is array of orders selected from OrderGroupIndexView
[{ OrderGroupID: 1, OrderNumber: '8545', Details: [], Orders: [OrderId, OrderID, ....], WizardStepPosition: 0  }]
 */

    var CompoDefinition = {
        Quantity: 0,
        ArticleID: 0,
        Definition: {}, // see DefineComposition model
        ArrayData: [],
        Index: -1,
    };

var LabellingCompoSimpleWizard = function (orderSelection, wizardStep, allSteps) {

    this.OrderSelection = orderSelection;
    this.FormSelector = '[name="labellingcomposimple-wizard-frm"]';
    this.CurrentTime = (new Date()).valueOf();
    this.CompoArticles = [];
    this.CompoDefined = []; // array of CompoDefinition by the user
    this.Copied = false;
    this.CopiedUnit = -1;
    this.CopiedGroup = -1;
    this.CopyData = {};
    this.ProjectData = {};
    this.Details = [];
    AWizardBaseView.Extend(this, "@g["Composition wizard"]", `@Url.Content("~/Validation/Tempe/Accessories/LabellingCompoSimpleWizard")`, wizardStep, allSteps);
}

LabellingCompoSimpleWizard.prototype = {

    constructor: LabellingCompoSimpleWizard,

    OnLoad: function () {

        var self = this;



            AppContext.Projects.GetByID(self.GetProjectID()).done((result) => {
                self.ProjectData = result;
            });

            self.model.WizardID = self.WizardStep.WizardID;
            self.model.WizardStepID = self.WizardStep.ID;

            self.ShowStatus();
            self.GetCompoArticles().done(() => {

                self.LoadArticles(); // get compo article details
            })


            $('#modal-image').on('load', function () {
                console.log('load a new image')
            })



    },

    GetProjectID: function () {
        var self = this;
        return self.OrderSelection[0].ProjectID;
    },

    GetPostData: function () {
        var self = this;

        var rq = self.CompoDefined.map((x) => {
            if (x.DataObject) {
                var quantityFieldName = `rq[${x.GroupIdx}].Details[${x.Index}].Quantity`;
                var quantityInput = $(`[name="${quantityFieldName}"]`);

                //var articleFieldName = `rq[${x.GroupIdx}].ArticleID`;
                //var articleInput = $(`[name="${articleFieldName}"]`);

                x.DataObject.ProjectID = self.ProjectData.ID;
                x.DataObject.Quantity = quantityInput.val();
                //x.DataObject.ArticleID = articleInput.val();
            }

            return x.DataObject;
        });
        self.model.GenerateCompoText = false
        return rq;
    },

    // update quantities and Article
    Save: function () {

        var self = this;

        if (!self.model.ValidState()) {
            var d1 = $.Deferred();
            d1.reject();

            return d1.promise();
        };

        var rq = self.GetPostData();
        console.log("Saving")
        self.model.CompoDefined = JSON.stringify(self.CompoDefined);
        //var arrayData = $(self.FormSelector).serializeArray();
        return AppContext.Wizard.SaveStateLabellingCompoSimple(rq).then((result) => {

            $(`.compo-filled`, self.FormSelector).removeClass('pending');


            for (var i = 0; i < self.CompoDefined.length; i++) {
                for (var j = 0; j < result.Data.length; j++) {
                    if (result.Data[j].ProductDataID == self.CompoDefined[i].DataObject.ProductDataID) {
                        var found = j;

                        self.AddCompoArticle({
                            DataObject: result.Data[found],
                            Index: self.CompoDefined[i].Index,
                            GroupIdx: self.CompoDefined[i].GroupIdx,
                            Quantity: result.Data[0].Quantity,
                            ArticleID: result.Data[0].ArticleID

                        }, self.CompoDefined[i].Index, self.CompoDefined[i].GroupIdx)
                        break;
                    }
                }

            }

        });

    },


    _solve: function () {
        var self = this;
        console.log("Solve and next", self)
        var d1 = $.Deferred();
        if (!self.model.ValidState() && !self.AllCompositionAreDefined()) {
            d1.reject();

        } else {
            
            var rq = self.GetPostData();
            self.model.GenerateCompoText = false
            // create OrderGroupSelectionCompositionDTO object
            var selection = self.OrderSelection.map((sel, groupIndex) => {

                sel.Compositions = rq.filter((detail) => {
                    if (detail.OrderGroupID == sel.OrderGroupID)
                        return detail;
                })

                return sel;

            });
            
            AppContext.Wizard.SaveAndNextLabellingCompoSimple(selection)
                .done((response) => {
                    if (!response.Success)
                        d1.reject();


                    $(`.compo-filled`, self.FormSelector).removeClass('pending');

                    d1.resolve(response);
                })
                .fail(() => {
                    d1.reject();
                    console.log('error save state');
                });

        }

        return d1.promise();
    },


    PrepareCompositionObject: function (arrayData, groupIdx, idx) {
        var quantityFieldName = `rq[${groupIdx}].Details[${idx}].Quantity`;
        var quantityInput = $(`[name="${quantityFieldName}"]`);

        var articleFieldName = `rq[${groupIdx}].ArticleID`;
        var articleInput = $(`[name="${articleFieldName}"]`);

        arrayData.push({ name: 'Quantity', value: quantityInput.val() });
        arrayData.push({ name: 'ArticleID', value: articleInput.val() });

        return arrayData;
    },

    SaveCompositionDefined: function (arrayData, groupIdx, idx) {
        var self = this;

        postData = self.PrepareCompositionObject(arrayData, groupIdx, idx);
        arrayData.forEach((e) => e.name = 'rq.' + e.name);
        return AppContext.Wizard.SaveCompositionDefined(postData);

    },

    SaveAndNext: function () {

        var self = this;
      
        if (!self.CanGoNext()) {

            AppContext.ShowError('@g["Please, Define Composition first!"]');

            return;
        }


        var p = self._solve();


        // check if all composition are defined


        p.done(() => {

            self.GetValidator().GetStep(self.WizardStep.Position + 1);

        })

    },

    CanGoNext: function () {

        var compositionArticlesRequired = false;

        var allDefinitionAreFilled = $('.compo-filled').length == $('.compo-filled.yes').length;

        $('[name$="].ArticleID"]').each((j, el) => {
            if ($(el).val() > 0) compositionArticlesRequired = true;
        });

        if (!compositionArticlesRequired) return true;

        return allDefinitionAreFilled;

    },




    GetCompoArticles: function () {

        var self = this;

		@* public enum LabelType.CareLabel = 2 *@
        return AppContext.Wizard.GetArticlesByLabelType({ Selection: self.OrderSelection, LabelType: 2 })
                .done((response) => {

                    if (!response.Success) return;

                    self.CompoArticles = response.Data;

                })
    },

    FillCombo: function (comboName, data) {
        var self = this;

        if (!data) data = [];

        self.elements[comboName].empty()

        var options = [
            `<option value="0">@g["Without Label"]</option>`
        ];

        data.forEach((value, idx, arr) => {
            var opt = `<option value="${value.ID}" data-label-id="${value.LabelID}">${value.Name}</option>`
            options.push(opt);
        });

        var allOptions = options.join('');

        self.elements[comboName].html(allOptions);

    },

    LoadArticles: function () {

        var self = this;

        AppContext.Wizard.GetOrderedLabelsGrouped(self.OrderSelection)
            .done((result) => {
                self.Details = result.Data;
                //self.CompoPreloaded = result.Data;
                self._AddRows(result).done(() => {

                    // after add rows, update js objet with compo received to load prev data in form
                    for (var groupIdx = 0; result.Data && groupIdx < result.Data.length; groupIdx++)
                    {

                        for (var idx = 0; result.Data[groupIdx].Details && idx < result.Data[groupIdx].Details.length; idx++) {
                            var detail = result.Data[groupIdx].Details[idx];

                            var currentArticle = $(`[name="rq[${groupIdx}].ArticleID"]`).val()

                            if (detail.ArticleID && parseInt(detail.ArticleID) > 0 && parseInt(currentArticle) < 1)
                                $(`[name="rq[${groupIdx}].ArticleID"]`).val(detail.Composition.ArticleID)
                            self.FillDefaultCompositionProperties(detail.Composition); 
                            self.AddCompoArticle({
                                DataObject: detail.Composition,
                                Index: idx,
                                GroupIdx: groupIdx,
                                Quantity: detail.Quantity,
                                ArticleID: 0 // 20210721 - remove this field

                            }, idx, groupIdx)
                        }
                    }

                });


            });
    },

    AfterSelectArticle: function (evt) {
        var self = this;

        var el = $(evt.currentTarget);
        var table = el.closest('tbody')[0];
        var rows = table.querySelectorAll(".define-compo");
        for (var row of rows) {
            if (el[0].value == "0")
                row.classList.add("disabled");
            else
                row.classList.remove("disabled");
        }

        var idx = el.data('idx');
        var groupIdx = el.data('group')
        var unitNumber = el.data('item'); // unit number on screen
        //var optSelected = el.find('option:selected');
        //var labelId = optSelected.data('labelId');
        //var preview = $(`[name="preview_${unitNumber}"]`);

        //preview.data('img', `/labels/getpreview/${labelId}?${self.CurrentTime}`);
        //preview.data('caption', optSelected.text());

        // update CompoArticleID
        //self.AddCompoArticle([], idx);
        var found = self.CompoDefined.findIndex((f) => f.Index == idx && f.GroupIdx == groupIdx);
        if (found >= 0)
            self.CompoDefined[found].ArticleID = el.val()


    },

    _AddRows: function (result) {

        var self = this;

        var d1 = $.Deferred()

        //var k = 0;
        var itemNumber = 0;

        var $tbody = self.elements.TableContainer.find('tbody');

        for (var i = 0; i < result.Data.length; i++) {

            var sel = result.Data[i];

            var trGroup = self._GetRowGroupTemplate(sel, i)

            $tbody.append(trGroup);



            for (var j = 0; j < sel.Details.length; j++) {

                var tr = $(self._GetRowTemplate(sel.Details[j], i, itemNumber++, j));

                $tbody.append(tr);

            }

            //k++;

        }

        // bind model and antions inner tbody

        //self.model = AppContext.BindModel(self.ViewContainer, self);
        //AppContext.BindActions($tbody, self);
        //AppContext.BindElements($tbody, self);
        AppContext.BindView($tbody, self).then(() => {

            // AppContext.BindView(self.ViewContainer,self);
            for (var i = 0; i < result.Data.length; i++) {
                //self.FillCombo(`rq[${i}].ArticleID`, self.CompoArticles);

                if (result.Data[i].Details && result.Data[i].Details.length > 0) {
                    $(`[name="rq[${i}].ArticleID"]`).val(result.Data[i].Details[0].ArticleID)
                    $(`[name="rq[${i}].ArticleID"]`).change()

                }
            }



            $('.popover-preview').click(function (evt) {

                evt.preventDefault()

                var btn = $(evt.currentTarget);

                if (!btn.data('img')) {
                    console.log('seleccionar opcion en combo');
                    return;
                }

                $("#modal-image").attr('src', btn.data('img'));
                $("#modal-image").attr('alt', btn.data('caption'));
                $('#the-modal').modal('toggle');

            });

            d1.resolve();


        });


        return d1.promise()

    },

    _GetRowGroupTemplate: function (sel, i) {
        var self = this;

        var tr = `
            <tr class="table-info" data-idx="${i}">
                <td colspan="12">

                    <input model name="rq[${i}].OrderNumber" value="${sel.OrderNumber}" type="hidden" />
                    <input model name="rq[${i}].OrderGroupID" value="${sel.OrderGroupID}" type="hidden" />
                    <input model name="rq[${i}].WizardStepPosition" value="${self.WizardStep.Position}" type="hidden" />
                    <input model name="rq[${i}].ProjectID" value="${sel.ProjectID}" type="hidden" />

                    <span class="btn btn-sm" style="cursor: auto;">
                        @g["Order N°"] :  ${sel.OrderNumber}
                    </span>

                </td>
            </tr>
        `;

        return tr;
    },

    _GetRowTemplate: function (detail, groupNumber, itemNumber, unitNumber) {
        var self = this;
        var d = detail;
        var i = groupNumber;
        var j = itemNumber;
        var k = unitNumber;

        var strSize = d.Size || "";
        var strColor = d.Color || "";

        var hasPackCode = d.HasPackCode ? 'has-packcode' : '';

        var combo = ""; //self._ComboTpl(detail, groupNumber, itemNumber, unitNumber); //preguntar a Rafa para que sirve
        var disableCompo = detail.Composition.ArticleCode ? '' : 'disabled';

        var isDefinedValue = self._CompositionIsDefined(detail.Composition);

        var isCompositionFilled = self._CompositionHasData(detail.Composition) ? 'yes' : 'no';

        var isPending = '';//isDefinedValue ? '' : (isFilled ? 'pending' : '');

        var isCompoDefinedClass = (isDefinedValue == 1 && isCompositionFilled != "no") ? '' : 'd-none' ;

        var tr = `
                <tr data-group="${i}" data-item="${j}" data-unit="${k}">
                    <th scope="row">${(j+1)}</th>
                    <td>${d.Article}</td>
                    <td></td>
                    <td>${strSize}</td>
                    <td>${strColor}</td>
                    <td>${d.QuantityRequested}</td>
                    <td>

                        <div class="form-inline">
                            <div name="item-${j}" class="input-group input-group-sm ${hasPackCode}" data-packcode="${d.PackCode}" data-pack-quantity="${d.PackConfigQuantity}" data-idx="${j}">
                                <input model name="rq[${i}].IDX[${j}].itemNumber" value="${j}" type="hidden" />
                                <input model name="rq[${i}].IDX[${j}].unitNumber" value="${k}" type="hidden" />
                                <input model name="rq[${i}].Details[${k}].Color" value="${d.strColor}" type="hidden" />
                                <input model name="rq[${i}].Details[${k}].OrderID" value="${d.OrderID}" type="hidden" />
                                <input model name="rq[${i}].Details[${k}].ProductDataID" value="${d.ProductDataID}" type="hidden" />
                                <input model name="rq[${i}].Details[${k}].IsDefined" value="${isDefinedValue}" type="hidden" />
                                <input model name="rq[${i}].Details[${k}].Quantity"  readonly="readonly" action="keyup:GoNextField" type="number" value="${d.Quantity}" data-idx="${j}" validation="required;__range(${d.MinAllowed},${d.MaxAllowed})" _max="${d.MaxAllowed}" data-quantity-requested="${d.QuantityRequested}" class="form-control input-sm mr-1 user-entry" no-transform style="min-width: 60px;max-width: 80px;">

                                <!--
                                <small class="form-text text-muted">
                                    <a class="btn btn-link ${hasPackCode}" style="font-size: 11px;" href="#" action="SetMax" data-item="${k}" data-packcode="${d.PackCode}">@(g["Set Max"])(${d.MaxAllowed})</a>
                                </small>
                                -->
                            </div>
                        </div>

                    </td>
                    <!-- <td> ${combo} </td> -->
                    <input model name="rq[${i}].Details[${k}].Definition"  type="hidden" />

                    <td> <span class="compo-filled ${isCompositionFilled} ${isPending}" data-group="${i}" data-idx="${j}" data-item="${k}" ><i class="fa fa-fw fa-times not-defined" style="color:red"></i> <i class="fa fa-fw fa-check defined" style="color:#5FB85E"></i>  </span> </td>
                    <td> <a class="btn btn-sm btn-link ${disableCompo} define-compo" action="click:DefineCompo" data-group="${i}" data-group="${i}" data-idx="${j}" data-item="${k}" >@g["Assign"] </td>
                    <td>
                    <a class="btn btn-sm btn-link ${isCompoDefinedClass} clone-action copy" action="click:CopyDefinition" data-group="${i}" data-idx="${j}" data-item="${k}">@g["Copy"] <i class="fa fa-fw fa-clone"></i></a>
                    <a class="btn btn-sm btn-link d-none clone-action paste-one" action="click:PasteDefinition" data-group="${i}" data-idx="${j}" data-item="${k}" >@g["Paste"] <i class="fa fa-fw fa-clipboard"></i></a>
                    <a class="btn btn-sm btn-link d-none clone-action paste-all" action="click:ApplyAllDefinition" data-group="${i}" data-idx="${j}" data-item="${k}">@g["Apply All"] <i class="fa fa-fw fa-clipboard"></i></a>
                    </td>
                </tr>`;

        return tr;

    },

    _ComboTpl: function (detail, groupNumber, itemNumber, unitNumber) {
        var self = this;
        var d = detail;
        var i = groupNumber;
        var j = itemNumber;
        var k = unitNumber;

        var combo = `
        <div class="input-group input-group-sm">
            <label class="col-form-label" style="min-width:50px; max-width:60px;">@g["Article"]</label>
            <select model name="rq[${i}].Details[${k}].ArticleID" class="form-control article-selected" label="@g["Article"]" data-group="${i}" data-idx="${k}" data-item="${k}" validation="required;min(1)" no-transform action="change:AfterSelectArticle" style="min-width:80px; max-width:160px;">${self.OptionsTpl}</select>
           <div class="input-group-append">
              <button name="preview_${k}" data-idx="${k}" type="button" class="btn popover-preview" data-img="/images/no_preview.png" data-caption="@g["Select Article"]">
              <i class="fa fa-fw fa-picture-o " aria-hidden="true" ></i>
            </button>
          </div>
        </div>`;

        return combo;

    },

    // https://stackoverflow.com/questions/480735/select-all-contents-of-textbox-when-it-receives-focus-vanilla-js-or-jquery
    // https://stackoverflow.com/questions/5379120/get-the-highlighted-selected-text
    GoNextField: function (evt) {

        var key = evt.keyCode ? evt.keyCode : evt.which;

        if (key == 13) {

            evt.preventDefault();

            var currentPosition = $(evt.target).closest('.input-group').data('index');

            var nextField = $('[data-index="' + (parseInt(currentPosition + 1)) + '"]').find('.user-entry');

            if (nextField.length == 1) {

                nextField.focus();
                var tmpStr = nextField.val();
                nextField.val('');
                nextField.val(tmpStr);
                nextField.get(0).select();
            }

        }

        return true;
    },

    _CompositionIsDefined: function (compositionDefinition) {

        return compositionDefinition.ID > 0;
    },

    _CompositionHasData: function (compositionDefinition) {

        // if (compositionDefinition.Sections && compositionDefinition.Sections.length > 0) {
        //     return 1;
        // }

        // return 0

               return compositionDefinition.ID > 0 ? 1: 0;
    },

    AllCompositionAreDefined: function () {

        var self = this;

        var rt = true;

        // if user has no select a composition label, can skip this step

        var positionNotDefined = [];

        for (var i = 0; self.CompoDefined && i < self.CompoDefined.length; i++) {
            var c = self.CompoDefined[i];
            if (!c.Sections || c.Sections.length < 1) {
                rt = false;
                positionNotDefined.push(i);
            }
        }

        // mark on view undefined Composition Required

        return rt;
    },



    @*_FillComboTpl: function () {
        var self = this;

        if (!self.CompoArticles) self.CompoArticles = [];

        var options = [
            `<option value="">@g["Select an Article"]</option>`
        ];

        self.CompoArticles.forEach((value, idx, arr) => {
            var opt = `<option value="${value.ID}" data-label-id="${value.LabelID}">${value.Name}</option>`
            options.push(opt);
        });

        var allOptions = options.join('');

        return allOptions;

    },*@

    _FigureTemplate: function (imgUrl, alt, caption) {
        return `<figure name="FigureContainer" class="figure">
            <img name="SelectedPreview" src="${imgUrl}" class="figure-img  rounded" alt="${alt}">
            <figcaption class="figure-caption">${caption}</figcaption>
        </figure>`
    },

    _ActionsTemplate: function () {

    },

    DefineCompo: async function (evt) {
        let self = this;
        let btn = $(evt.currentTarget);
        let table = btn.closest('tbody')[0];
        let idx = btn.data('idx');
        let unitNumber = btn.data('item');
        let groupIdx = btn.data('group');
        let filledMark = btn.closest('tr').find('.compo-filled')
        const detail = self.Details[groupIdx].Details[idx];

        let found = self.CompoDefined.findIndex((e) => e.Index == unitNumber && e.GroupIdx == groupIdx);
        let compoData = null;
        if (found >= 0)
            compoData = self.CompoDefined[found].DataObject;
        var label = await AppContext.HttpGet(`/labels/getbyid/${detail.LabelID}`);

        btn.addClass("disabled");
           var p = self.Save();
           //self.Save();
           p.done(() => {

               AppContext.LoadJS('/Validation/Tempe/Accessories/DefineCompositionView.js').then(() => {

                   var found = self.CompoDefined.findIndex((e) => e.Index == unitNumber && e.GroupIdx == groupIdx);
                   var compoData = null;
                   if (found >= 0)
                       compoData = self.CompoDefined[found].DataObject;


                   //Get CodeGama
                   AppContext.VariableData.GetByDetail(self.GetProjectID(), compoData.ProductDataID).done((result) => {

                       var compoView = new DefineCompositionView({
                           ProjectID: self.OrderSelection[groupIdx].ProjectID,
                           Selection: self.OrderSelection[groupIdx],
                           CompositionDefined: compoData,
                           Label: label,
                           VariableData: result.Data,
                           UnitNumber: unitNumber
                       }, self.ProjectData);

                       compoView.ShowDialog(function (userCompo) {

                           // Edit GridView to update selected row
                           btn.removeClass("disabled");

                           if (!userCompo) return;

                           // SaveState for current composition defined

                           self.SaveCompositionDefined(userCompo, groupIdx, unitNumber).then((saveResponse) => {
                               self.AddCompoArticle({
                                   DataObject: saveResponse.Data,
                                   Index: unitNumber,
                                   GroupIdx: groupIdx,
                                   Quantity: $(`[name="rq[${groupIdx}].Details[${unitNumber}].Quantity"]`).val(),
                                   ArticleID: $(`[name="rq[${groupIdx}].ArticleID"]`).val()
                               }, unitNumber, groupIdx)

                               // mark as filled
                               filledMark
                                   .removeClass('no')
                                   .addClass('yes')

                               // Enable CopyButton
                               self.EnableCopyButton(idx, groupIdx);

                               // update ORderID to other coposition inner the sage groupidx
                               /*self.CompoDefined.forEach((c) => {
                                   if (c.GroupIdx != groupIdx) return; //->next

                                   c.DataObject["OrderID"] = saveResponse.Data.OrderID
                               })*/
                           })

                       }, "80%");

                   });

               });

           })
           
           console.log("End Saving")

        // TODO: define a standard identifier to get selection data - for projectid
        // TODO: how to define custom CompositionWizard
      
    },

    // @@compo Object form fields from DefineCompo
    // @@idx int unit position inner group
    // @@groupIdx int group position selected
    AddCompoArticle: function (captureCompo, idx, groupIdx) {
        var self = this;
        // add CompoArticle
        var found = self.CompoDefined.findIndex((e) => e.Index == idx && e.GroupIdx == groupIdx);
        if (found >= 0) {
            // TODO: check this condition ->
            //if (captureCompo.ArrayData.length === 0) // -> return
            //    compo = self.CompoDefined[found].ArrayData

            self.CompoDefined[found] = $.extend({}, captureCompo);
            self.CompoDefined[found].Index = idx;
            self.CompoDefined[found].GroupIdx = groupIdx;

        } else {
            var newCompoArticle = $.extend({}, captureCompo);
            newCompoArticle.Index = idx;
            newCompoArticle.GroupIdx = groupIdx;

            self.CompoDefined.push(newCompoArticle);
        }

    },



    CopyDefinition: function (evt) {
        var self = this;
        var unitNumber = $(evt.currentTarget).data('item');
        var groupIdx = $(evt.currentTarget).data('group');

        self._CopyDefinition(unitNumber, groupIdx);

    },

    _CopyDefinition: function (unitNumber,groupIdx) {
        var self = this;

        self.CopiedUnit = unitNumber;
        self.CopiedGroup = groupIdx;
        self.CopyData = self.CompoDefined.find((compoArticle) => compoArticle.Index == unitNumber && compoArticle.GroupIdx == groupIdx);
        console.log(self.CopyData)
        self.EnablePasteButtons();

    },

    PasteDefinition: function (evt) {

        var self = this;
        var targetUnit = $(evt.currentTarget).data('item');
        var targetGroup = $(evt.currentTarget).data('group');

        self._PasteDefinition(targetUnit, targetGroup);
    },

    _PasteDefinition: function (targetUnit, targetGroup) {

        var self = this;
        // already exist CompoArticle -> replace, not exist, add new one
        var found = self.CompoDefined.findIndex((e) => e.Index == targetUnit && e.GroupIdx == targetGroup);
        if (found >= 0) {

            self.CompoDefined[found].DataObject.ArticleCode = self.CopyData.DataObject.ArticleCode;
            self.CompoDefined[found].DataObject.ArticleID = self.CopyData.DataObject.ArticleID;
            self.CompoDefined[found].DataObject.TargetArticle = self.CopyData.DataObject.TargetArticle;
            self.CompoDefined[found].DataObject.Sections = JSON.parse(JSON.stringify(self.CopyData.DataObject.Sections));
            self.CompoDefined[found].DataObject.CareInstructions = $.extend([], self.CopyData.DataObject.CareInstructions);
            self.CompoDefined[found].DataObject.WrTemplate = self.CopyData.DataObject.WrTemplate;
            self.CompoDefined[found].DataObject.Type = self.CopyData.DataObject.Type;
            self.CompoDefined[found].DataObject.Required = self.CopyData.DataObject.Required;
            self.CompoDefined[found].DataObject.ClonedFrom = self.CopyData.DataObject.ID
           
        } else {
            throw '@g["Error:No composition found."]';
        }

        $(`.compo-filled[data-item="${targetUnit}"][data-group="${targetGroup}"]`, self.FormSelector).removeClass('no').addClass('yes').addClass('pending');

        // TODO: enabel Copy Button

    },

    // enable for every valid compo
    EnableCopyButton: function (index, groupIdx) {

        var copyBtn = $(`.copy[data-idx="${index}"][data-group="${groupIdx}"]`);
        //var td = copyBtn.closest('td')
        //var pasteAll = td.find('.paste-all')

        // hide all and enable paste over all
        //$('.clone-action.paste-one,.clone-action.paste-all', self.FormSelector).removeClass('d-none').addClass('d-none')

        copyBtn.removeClass('d-none');
        //pasteAll.removeClass('d-none')

    },

    EnablePasteButtons: function () {
        var self = this;

        // enable all paste action
        $('.clone-action.paste-one', self.FormSelector).removeClass('d-none')

        // disble all past all action
        $('.clone-action.paste-all', self.FormSelector).removeClass('d-none').addClass('d-none')

        // hide current index
        $(`.clone-action.paste-one[data-item="${self.CopiedUnit}"][data-group="${self.CopiedGroup}"]`, self.FormSelector).addClass('d-none')

        $(`.clone-action.paste-all[data-item="${self.CopiedUnit}"][data-group="${self.CopiedGroup}"]`, self.FormSelector).removeClass('d-none')

        $('.clone-action.copy').text('@g["Copy"]')

        $(`.clone-action.copy[data-item="${self.CopiedUnit}"][data-group="${self.CopiedGroup}"]`).text('@g["Copy"] (C)')
    },
    _UpdateCompoDefinedByFilter: function (CopyCompoArticle, GroupToPaste) {
        var self = this;

        for (var i = 0; i < GroupToPaste.length; i++) {
            self.CompoDefined[GroupToPaste[i]].DataObject.ArticleCode = CopyCompoArticle.DataObject.ArticleCode;
            self.CompoDefined[GroupToPaste[i]].DataObject.ArticleID = CopyCompoArticle.DataObject.ArticleID;
            self.CompoDefined[GroupToPaste[i]].DataObject.TargetArticle = CopyCompoArticle.DataObject.TargetArticle;
            self.CompoDefined[GroupToPaste[i]].DataObject.Sections = JSON.parse(JSON.stringify(CopyCompoArticle.DataObject.Sections)); //Object.assign({}, self.CopyData.DataObject.Sections); //{ ...self.CopyData.DataObject.Sections }; //$.extend({}, self.CopyData.DataObject.Sections);
            self.CompoDefined[GroupToPaste[i]].DataObject.CareInstructions = $.extend([], CopyCompoArticle.DataObject.CareInstructions);
            self.CompoDefined[GroupToPaste[i]].DataObject.WrTemplate = CopyCompoArticle.DataObject.WrTemplate;
            self.CompoDefined[GroupToPaste[i]].DataObject.Type = CopyCompoArticle.DataObject.Type;
            self.CompoDefined[GroupToPaste[i]].DataObject.Required = CopyCompoArticle.DataObject.Required;
            $(`.compo-filled[data-idx="${self.CompoDefined[GroupToPaste[i]].Index}"][data-group="${CopyCompoArticle.GroupIdx}"]`, self.FormSelector).removeClass('no').addClass('yes');
        }
    },

    ApplyAllDefinition: function (evt) {
        var self = this;
        var CopyIndex = $(evt.currentTarget).data('item');
        var CopyGroupIdx = $(evt.currentTarget).data('group');

        self._CopyDefinition(CopyIndex, CopyGroupIdx);
           let confirmTextPrev = '@g["Do you want to copy the composition"]'
           let confirmText = '@g["ONLY EMPTY ELEMENTS"]'
           let confirmTextEnd = '@g[" in this Order?"]'
           let $text = document.createElement("p");
           $text.innerHTML =    `${confirmTextPrev} <strong>${confirmText}</strong> ${confirmTextEnd}`
           //var confirm = new ConfirmDialog('@g["Do you want to copy the composition  only empty elements in this Order?"]', '@g["Apply"]', '@g["Cancel"]');
           var confirm = new ConfirmDialog($text, '@g["Apply"]','@g["Cancel"]');
        confirm.ShowDialog((result) => {

            var gpPaste = [];

            if (!result) {

            } else {
                //With Compo
                /*self.CompoDefined.forEach(function (c, index) {
                    if (c.GroupIdx == CopyGroupIdx && c.Index != CopyIndex) {
                        self._PasteDefinition(c.Index, c.GroupIdx);
                    }
                });*/

                //Only Empty Compo.
                let EmptyCompoCounter =0; 
                self.CompoDefined.forEach(function (c, index) {
                    if (c.GroupIdx == CopyGroupIdx && c.Index != CopyIndex && c.DataObject.Sections.length == 0) {
                        self._PasteDefinition(c.Index, c.GroupIdx);
                        EmptyCompoCounter++;
                    }
                });

                   AppContext.ShowSuccess(`${EmptyCompoCounter} ${'@g["Compositions"]'} ${'@g["successfully copied"]'}!`);
            }



            return;
        });
    },
       FillWithBlankCareInstructions: function (currentCareInstructions) {

           if (!Array.isArray(currentCareInstructions) && currentCareInstructions.length < 1) {
               return;
           }

           var blank = [
               {
                   "ID": 0,
                   "Instruction": 0,
                   "Code": null,
                   "Category": "Wash",
                   "CompositionID": 0,
                   "AllLangs": null,
                   "SymbolType": null,
                   "Symbol": null
               },
               {
                   "ID": 0,
                   "Instruction": 0,
                   "Code": null,
                   "Category": "Bleach",
                   "CompositionID": 0,
                   "AllLangs": null,
                   "SymbolType": null,
                   "Symbol": null
               },
               {
                   "ID": 0,
                   "Instruction": 0,
                   "Code": null,
                   "Category": "Dry",
                   "CompositionID": 0,
                   "AllLangs": null,
                   "SymbolType": null,
                   "Symbol": null
               },
               {
                   "ID": 0,
                   "Instruction": 0,
                   "Code": null,
                   "Category": "Iron",
                   "CompositionID": 0,
                   "AllLangs": null,
                   "SymbolType": null,
                   "Symbol": null
               },
               {
                   "ID": 0,
                   "Instruction": 0,
                   "Code": null,
                   "Category": "DryCleaning",
                   "CompositionID": 0,
                   "AllLangs": null,
                   "SymbolType": null,
                   "Symbol": null
               }
           ];


           for (const blankCi of blank) {
               var found = currentCareInstructions.find(f => f.Category == blankCi.Category);

               if (!found)
                   currentCareInstructions.push(blankCi); // Add element if it is not found
           }

           //return currentCareInstructions;
       }, 
       FillDefaultCompositionProperties : function (compo) {
           let self = this
           compo.GenerateCompoText = false
           self.FillWithBlankCareInstructions(compo.CareInstructions); 
          
       }

};

/// </script>

